{% load wagtailcore_tags wagtailsettings_tags core_components %}

{% get_settings use_default_site=True %}
{% with footer_settings=settings.core.FooterSettings %}

<footer class="bg-wyrd-indigo-700 text-wyrd-indigo-100 mt-auto md:px-24 md:py-24 py-16 px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col gap-2">
            {% if footer_settings.footer_page_links.all %}
                {% for link in footer_settings.footer_page_links.all %}
                    {% if link.page %}
                        {% pageurl link.page as link_url %}
                        {% render_button label=link.label url=link_url variant="ghost" %}
                    {% else %}
                        {% render_button label=link.label variant="ghost" %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if footer_settings.press_document %}
                {% render_button label="Dossier de presse" url=footer_settings.press_document.url variant="ghost" %}
            {% endif %}
        </div>

        <div class="flex flex-col gap-7 text-wyrd-indigo-100 max-md:border-t border-wyrd-indigo-100 max-md:pt-6">
            <p>
                Les meilleures histoires se préparent en avance. Inscris-toi pour recevoir les annonces en avant-première, guests, programme, surprises du jour J.
            </p>
            {% if footer_settings.footer_social_links.all %}
                <div class="flex gap-6 uppercase">
                    Nous suivre :
                    {% for item in footer_settings.footer_social_links.all %}
                        {% include "includes/social_media_icon_link.html" with link=item.social_media %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</footer>
{% endwith %}
