{% load wagtailimages_tags wagtailcore_tags %}

<div class="card bg-white rounded-2xl md:rounded-4xl overflow-hidden border md:border-2 border-wyrd-indigo-900 w-fit p-2{% if additional_class %} {{ additional_class }}{% endif %}">
    <div class="flex flex-col items-center">
        <div class="{% if size == 'small' %} w-card-s-mobile md:w-card-s-desktop md:min-h-105
            {% elif size == 'large' %} w-card-l-mobile md:w-card-l-desktop
                {% endif %}">
            <div class="relative overflow-hidden bg-wyrd-purple-100 rounded-xl md:rounded-3xl text-white font-bold text-center
                {% if size == 'small' %} w-card-s-mobile h-card-s-mobile md:w-card-s-desktop md:h-card-s-desktop
                {% elif size == 'large' %} w-card-l-mobile h-card-l-mobile md:w-card-l-desktop md:h-card-l-desktop
                    {% endif %}">
                {% if guest.photo %}
                    {% image guest.photo fill-400x400 as guest_img %}
                    <img src="{{ guest_img.url }}" alt="{{ guest.title }}" class="block w-full h-full object-cover">
                    <h4 class="absolute bottom-1 md:bottom-2 left-0 w-full font-bold">{{ guest.title }}</h4>
                {% else %}
                    <h4 class="absolute bottom-1 md:bottom-2 left-0 w-full font-bold">?</h4>
                {% endif %}
            </div>
        
            <div class="p-2 md:p-4 w-full text-center">
                {% if guest.subtitle %}
                    <h5 class="font-bold uppercase text-wyrd-purple-500">
                        {{ guest.subtitle }}
                    </h5>
                {% endif %}
                {% if guest.description %}
                    <div class="text-wyrd-indigo-300 font-bold text-2xs leading-2xs md:text-lg md:leading-5 line-clamp-5">
                        {{ guest.description|richtext }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
