{% load wagtailimages_tags wagtailcore_tags %}

<div class="card bg-white rounded-2xl md:rounded-4xl overflow-hidden border md:border-2 border-wyrd-indigo-900 p-2{% if additional_class %} {{ additional_class }}{% endif %}">
    <div class="flex flex-col items-center {% if size == 'small' %} max-sm:w-card-s-mobile {% elif size == 'large' %} w-card-l-desktop max-sm:w-card-l-mobile {% endif %}">
        <div class="relative max-w-full bg-wyrd-purple-100 w-full rounded-xl md:rounded-3xl {% if size == 'small' %} max-sm:h-card-s-mobile h-card-s-desktop {% elif size == 'large' %} h-card-l-desktop max-sm:h-card-l-mobile {% endif %} text-white font-bold text-center">
            {% if guest.photo %}
                {% image guest.photo fill-400x400 as guest_img %}
                <img src="{{ guest_img.url }}" alt="{{ guest.title }}" class="w-full h-full object-cover">
                <h3 class="absolute bottom-4 left-0 w-full">{{ guest.title }}</h3>
            {% else %}
                <h3 class="absolute bottom-4 left-0 w-full">?</h3>
            {% endif %}
        </div>
        
        <div class="p-2 md:p-4 w-full text-center">
            {% if guest.subtitle %}
                <h5 class="font-bold uppercase text-wyrd-purple-500">
                    {{ guest.subtitle }}
                </h5>
            {% endif %}
            {% if guest.description %}
                <div class="text-wyrd-indigo-300 font-bold text-2xs leading-2xs md:text-lg md:leading-5 line-clamp-5">
                    {{ guest.description|richtext }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
