{% load core_components %}

<div class="monde-card flex flex-col items-start w-full text-wyrd-green-500 gap-6">
    <div class="flex uppercase gap-px">
        <div class="bg-wyrd-green-500 text-wyrd-green-900 rounded-full px-4 py-2 cursor-pointer">
            Zone
        </div>
        <div class="bg-wyrd-green-500 text-wyrd-green-900 rounded-full px-4 py-2 w-[42px] text-center cursor-pointer">
            {{ zone_index }}
        </div>
    </div>
    <h2>{{ monde.title }}</h2>
    {% if monde.description %}
        {{ monde.description | safe }}
    {% endif %}
    {% if monde.cta_text and monde.cta_link %}
        {% render_button label=monde.cta_text url=monde.cta_link variant="primary" color="purple" %}
    {% endif %}
</div>
