{% load wagtailcore_tags core_components %}

<div class="monde-card flex flex-col items-start w-full motion-reduce:text-wyrd-green-500 gap-6">
    <div class="flex uppercase">
        <div class="monde-zone motion-reduce:bg-wyrd-green-500! motion-reduce:text-wyrd-green-900!">
            Zone
        </div>
        <div class="monde-zone motion-reduce:bg-wyrd-green-500! motion-reduce:text-wyrd-green-900! w-[42px] text-center">
            {{ zone_index }}
        </div>
    </div>
    <h2>{{ monde.title }}</h2>
    {% if monde.description %}
        {{ monde.description|richtext }}
    {% endif %}
    {% if monde.cta_text and monde.cta_link %}
        {% render_button label=monde.cta_text url=monde.cta_link variant="primary" %}
    {% endif %}
</div>
