{# todo: format time + details toggle #}
<div class="flex flex-col w-full py-2 px-6 bg-white rounded-xl gap-6">
    
    <div class="flex items-center flex-1 h-9 text-wyrd-indigo-900 font-bold text-body leading-body gap-2">
        <div class="bg-wyrd-purple-300 text-white rounded-lg h-9 w-9 flex items-center justify-center">
            {{ block.time }}
        </div>
        {{ block.title }}
        <button class="ml-auto bg-wyrd-purple-300 text-white rounded-lg h-9 w-9 flex items-center justify-center">
            <span class="text-xl font-bold">+</span>
        </button>    
    </div>

    <p class="flex flex-col gap-4 mt-4 text-h4 leading-h4 text-wyrd-indigo-300">
        {{ block.description }}
    </p>
</div>
