{% with social_link=link.social_media|default:link %}
<a
    href="{{ social_link.url }}"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="{{ social_link.name }}"
    class="social-media-icon md:h-6 md:w-6 h-4 w-4 text-white hover:text-wyrd-indigo-900 transition-colors flex items-center justify-center"
>
    {% if social_link.platform_type == "instagram" %}
        {% include "svg/instagram.svg" %}
    {% elif social_link.platform_type == "facebook" %}
        {% include "svg/facebook.svg" %}
    {% elif social_link.platform_type == "twitter" %}
        {% include "svg/twitter.svg" %}
    {% elif social_link.platform_type == "tiktok" %}
        {% include "svg/tiktok.svg" %}
    {% elif social_link.platform_type == "youtube" %}
        {% include "svg/youtube.svg" %}
    {% elif social_link.platform_type == "discord" %}
        {% include "svg/discord.svg" %}
    {% elif social_link.icon %}
        <img 
            src="{{ social_link.icon.url }}" 
            alt="{{ social_link.name }} icon" 
            class="md:h-6 md:w-6 h-4 w-4 object-contain"
        >
    {% else %}
        <span class="text-xl md:text-3xl font-bold uppercase" aria-hidden="true">
            ?
        </span>
    {% endif %}
</a>
{% endwith %}
