{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static home_filters %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
    {# If a landing page block is present, display ONLY that block #}
    {% with landing_block=page.body|first_landing %}
        {% if landing_block %}
            {% include "home/blocks/landing_page.html" with block=landing_block.value %}
        {# Otherwise, display all other blocks in order #}
        {% else %}
            {% for block in page.body %}
                {% if block.block_type == 'hero' %}
                    {% include "home/blocks/hero.html" with block=block.value %}
                {% elif block.block_type == 'presentation' %}
                    {% include "home/blocks/presentation.html" with block=block.value %}
                {% elif block.block_type == 'espaces' %}
                    {% include "home/blocks/espaces.html" with block=block.value %}
                {% elif block.block_type == 'guests' %}
                    {% include "home/blocks/guests.html" with block=block.value %}
                {% elif block.block_type == 'info' %}
                    {% include "home/blocks/info.html" with block=block.value %}
                {% elif block.block_type == 'ticker' %}
                    {% include "home/blocks/ticker.html" with block=block.value %}
                {% elif block.block_type == 'hero_fomo' %}
                    {% include "home/blocks/hero_fomo.html" with block=block.value %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p
        hidden
        aria-hidden="true"
        title="Scroller pour animer"
        data-home-hash-scroll-hint
        class="flex gap-2 items-center fixed left-1/2 bottom-[clamp(0.875rem,3.5vh,1.5rem)] z-40 m-0 -translate-x-1/2 translate-y-1.5 rounded-full bg-black/10 px-3.5 py-1.5 text-[clamp(0.75rem,2vw,2rem)] uppercase leading-none tracking-widest opacity-0 cursor-default transition-all duration-200 ease-out"
    >
        <svg 
            fill="currentColor" 
            version="1.1"
            class="ml-1 h-2 w-2"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 512.01 512.01" xml:space="preserve"
        >
            <g>
                <path d="M504.958,5.514c-7.104-6.464-17.643-7.317-25.749-2.176L255.998,145.375L32.787,3.338
                    c-8.085-5.12-18.603-4.267-25.749,2.176c-7.104,6.421-9.067,16.789-4.8,25.365l234.667,469.333
                    c3.627,7.232,11.008,11.797,19.093,11.797c8.085,0,15.467-4.565,19.093-11.797L509.758,30.879
                    C514.046,22.303,512.083,11.935,504.958,5.514z"/>
            </g>
        </svg>
        Défilez
        <svg 
            fill="currentColor" 
            version="1.1"
            class="ml-1 h-2 w-2"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            viewBox="0 0 512.01 512.01" xml:space="preserve"
        >
            <g>
                <path d="M504.958,5.514c-7.104-6.464-17.643-7.317-25.749-2.176L255.998,145.375L32.787,3.338
                    c-8.085-5.12-18.603-4.267-25.749,2.176c-7.104,6.421-9.067,16.789-4.8,25.365l234.667,469.333
                    c3.627,7.232,11.008,11.797,19.093,11.797c8.085,0,15.467-4.565,19.093-11.797L509.758,30.879
                    C514.046,22.303,512.083,11.935,504.958,5.514z"/>
            </g>
        </svg>
    </p>
{% endblock %}

{# Hide the footer if a landing page block is present #}
{% block footer %}
    {% with landing_block=page.body|first_landing %}
        {% if not landing_block %}
            {% include "includes/footer.html" %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block extra_js %}
    <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollToPlugin.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/bundled/lenis.min.js"></script>
    <script defer src="{% static 'js/presentationCardsLayout.js' %}"></script>
    <script defer src="{% static 'js/homeSectionControllers.js' %}"></script>
    <script defer src="{% static 'js/homeSectionScroll.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}
