DJANGO_SETTINGS_MODULE=wyrd.settings.dev

SECRET_KEY="django-insecure-6d&vn5ohzo_#1hh@1k-pb4u8!=$kw+ujgz+7x65ck3$7=s9v8r"

DB_NAME=wyrdfolk
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306