<section 
    class="flex flex-col items-center justify-center py-16 md:py-24 home-section bg-wyrd-green-900 text-wyrd-green-500 overflow-hidden" 
    data-nav-color="green"
    data-espaces-section="hero"
>
    <div class="max-w-7xl mx-auto sm:mx-6 lg:mx-8 gap-3 flex flex-col text-wyrd-green-500 relative h-[300px] w-full" data-espaces-hero-content>
        <svg
            width="2000"
            height="300"
            viewBox="0 0 2000 300"
            class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 overflow-visible"
        >
            <defs>
                <path id="curve" d="M 250,225 Q 1000,75 1750,225" fill="none"/>
            </defs>
            <text 
                class="text-center font-groovy text-h1-mobile leading-h1-mobile md:text-h1-desktop md:leading-h1-desktop" 
                fill="var(--color-wyrd-green-500)"
            >
                <textPath href="#curve" startOffset="50%" text-anchor="middle">
                    {{ block.title }}
                </textPath>
            </text>
        </svg>
    </div>
</section>

<section 
    class="flex flex-col items-center justify-center py-16 md:py-24 home-section bg-wyrd-green-900 text-wyrd-green-500" 
    data-nav-color="green"
    data-espaces-section="subtitle"
>
    <div class="max-w-5xl mx-auto px-12 gap-3 flex flex-col" data-espaces-subtitle-content>
        {% if block.subtitle %}
            <h3 class="text-center">{{ block.subtitle }}</h3>
        {% endif %}
    </div>
</section>

{% if block.mondes|length > 0 %}
    <section 
        class="home-section spaces-list flex max-md:h-fit! max-md:min-h-screen! md:flex-row flex-col md:space-between items-center justify-center p-6 bg-wyrd-green-900 text-wyrd-green-500 md:h-screen" 
        data-nav-color="green"
    >
        <div class="md:flex-1 flex items-center justify-center max-md:hidden">
        {# todo add map and highlight area on hover #}
        {% with size="large" %}
            {% include "includes/picture_card.html" %}
        {% endwith %}
        </div>

        <div class="md:flex-1 w-full flex flex-col md:h-full overflow-x-hidden md:overflow-y-auto h-full md:rounded-3xl md:bg-wyrd-green-800 md:p-16 max-md:mb-12">
            {% for monde_item in block.mondes %}
                {% with monde=monde_item %}
                    {% include "includes/monde_card.html" with zone_index=forloop.counter %}
                {% endwith %}
            {% endfor %}
        </div>
    </section>
{% endif %}
