<section class="flex flex-col items-center justify-center py-16 md:py-24 home-section bg-wyrd-green-900 text-wyrd-green-500" data-nav-color="green">
    <div class="lg:w-[740px] max-w-7xl mx-auto sm:mx-6 lg:mx-8 gap-3 flex flex-col">
        <h2 class="text-center font-groovy text-h2 leading-h2">{{ block.title }}</h2>
        {% if block.subtitle %}
            <p class="text-center">{{ block.subtitle }}</p>
        {% endif %}
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for monde_item in block.mondes %}
                {% with monde=monde_item.value %}
                    {% include "includes/monde_card.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</section>
