{# title #}
<section class="py-16 md:py-24 bg-wyrd-purple-500 text-wyrd-purple-100 home-section flex" data-nav-color="purple">
    <div class="max-w-7xl m-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-center">
            {{ block.title }}
        </h1>
    </div>
</section>

{# cards #}
<section class="py-16 md:py-24 bg-wyrd-purple-500 text-wyrd-purple-100 home-section" data-nav-color="purple">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
            {% for guest_item in block.guests %}
                {% if forloop.counter0|divisibleby:2 %}
                    {% with guest=guest_item size="small" additional_class="rotate-[3deg]" %}
                        {% include "includes/guest_card.html" %}
                    {% endwith %}
                {% else %}
                    {% with guest=guest_item size="small" additional_class="-rotate-[3deg]" %}
                        {% include "includes/guest_card.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{# cta and teaser #}
{% if block.teaser_text or block.cta %}
    <section class="py-16 md:py-24 bg-wyrd-purple-500 text-wyrd-purple-100 home-section" data-nav-color="purple">
        <div class="max-w-7xl m-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center justify-center">
            {% if block.teaser_text %}
                <h1 class="text-center h-[275px] flex items-center">
                    {{ block.teaser_text }}
                </h1>
            {% endif %}            
            {% if block.cta %}            
                {% include "includes/button.html" with label=block.cta.label url=block.cta.url variant="primary" color="purple" %}
            {% endif %}
        </div>
</section>
{% endif %}
