{% load wagtailcore_tags %}

<section class="bg-wyrd-purple-500 text-wyrd-purple-100 py-24 flex flex-col justify-center md:py-32 home-section relative" data-nav-color="purple">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-32 justify-center text-center gap-12 flex flex-col ">
        {% if block.tagline %}
            <h4 class="uppercase">{{ block.tagline }}</h4>
        {% endif %}

        <h1 class="text-hero leading-hero tracking-hero">
            {{ block.title }}
        </h1>
        {% if block.subtitle %}
            <p class="text-xl md:text-2xl">{{ block.subtitle }}</p>
        {% endif %}

        <div class="flex items-center justify-center gap-px">
            {% if block.ticket_url %}
                {% include "includes/button.html" with label="Prendre ma place" url=block.ticket_url variant="primary" color="purple" %}
            {% endif %}

            {% if block.about_url %}
                {% include "includes/button.html" with label=block.text_about_url url=block.about_url variant="secondary" color="purple" %}
            {% endif %}
        </div>
</section>
