{% load wagtailcore_tags core_components home_filters %}
{% load static %}

<section id="home-hero" class="motion-reduce:bg-wyrd-purple-500 motion-reduce:text-wyrd-purple-100 py-24 flex flex-col justify-center md:py-32 home-section relative" data-nav-color="purple" data-home-hero>
    <div class="max-w-lg sm:max-w-xl md:max-w-7xl mx-auto px-4 md:px-32 items-center justify-center text-center gap-6 md:gap-12 flex flex-col">
        {% if block.tagline %}
            <h4 class="uppercase">{{ block.tagline }}</h4>
        {% endif %}

        <h1 class="hero relative text-white w-min break-normal" data-home-hero-title>
            <span class="relative z-10 break-normal">{{ block.title }}</span>
            <img
                src="{% static 'img/wyrd.png' %}"
                alt="Tête de la mascotte Wyrd"
                class="absolute md:w-64 w-22 md:-top-8 rotate-8 md:-left-48 -left-15 -top-3 z-10"
                data-home-hero-sticker
            />
            <img
                src="{% static 'img/d20_green.png' %}"
                alt="Dé à 20 faces vert"
                class="absolute -right-12 -bottom-5 md:-right-34 md:-bottom-15 md:w-42 w-15 z-0"
                data-home-hero-sticker
            />            
        </h1>
        {% if block.subtitle %}
            <h4>{{ block.subtitle }}</h4>
        {% endif %}

        <div class="flex items-center justify-center gap-px">
            {% with ticket_link=block.ticket_url|linkblock_url %}
                {% if ticket_link %}
                    {% render_button label="Prendre ma place" url=ticket_link variant="primary" %}
                {% endif %}
            {% endwith %}

            <div class="max-md:hidden">
                {% with about_link=block.about_url|linkblock_url %}
                    {% if about_link %}
                        {% render_button label=block.text_about_url url=about_link variant="secondary" color="purple" %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</section>
