{% load wagtailcore_tags wagtailimages_tags core_components home_filters %}

<section 
    id="home-info"
    data-nav-color="pink"
    class="home-section motion-reduce:bg-wyrd-pink-500 motion-reduce:text-wyrd-pink-900 flex items-center flex-row"
>
    <div class="flex flex-col md:flex-row items-center justify-center flex-1 gap-6 lg:gap-32 md:gap-16 sm:gap-12 lg:m-6 mx-auto p-14 sm:p-16 max-w-full">
        
        <div class="card bg-white rounded-2xl md:rounded-4xl overflow-hidden shadow-card-mobile md:shadow-card-desktop h-fit w-fit p-1 md:p-2 rotate-[8deg]">
            <div class="overflow-hidden relative bg-wyrd-purple-500 rounded-xl md:rounded-3xl w-map-mobile h-map-mobile md:w-map-desktop md:h-map-desktop max-w-full">
                {% if block.picture %}
                    {% image block.picture fill-800x800 as info_image %}
                    <img
                        src="{{ info_image.url }}"
                        alt="{{ block.title }}"
                        class="w-full h-full object-cover"
                    >
                {% endif %}
            </div>        
        </div>

        <div class="flex flex-col gap-6 sm:gap-8 md:gap-16 lg:w-[640px] max-md:mt-2">
            <h2 class="max-md:text-center">{{ block.title }}</h2>
            <div class="grid grid-cols-2 gap-6 md:gap-12 sm:max-w-md md:max-w-4xl">
                {% if block.access %}
                    <div class="text-body-mobile">
                        <h5 class="font-extrabold! uppercase mb-2.5">Accès</h5>
                        {{ block.access|safe }}
                    </div>
                {% endif %}
                {% if block.schedule %}
                    <div class="text-body-mobile">
                        <h5 class="font-extrabold! uppercase mb-2.5">Horaires</h5>
                        {{ block.schedule|safe }}
                    </div>
                {% endif %}
            </div>

            {% if block.directions_link or block.faq_link %}
                <div class="flex flex-row max-md:justify-center">
                    {% with directions_link=block.directions_link|linkblock_url %}
                        {% if directions_link %}
                            {% render_button label="Commment venir ?" url=directions_link variant="secondary" color="pink" additional_class="font-medium!" %}
                        {% endif %}
                    {% endwith %}

                    {% with faq_link=block.faq_link|linkblock_url %}
                        {% if faq_link %}
                            {% render_button label="FAQ" url=faq_link variant="secondary" color="pink" additional_class="font-medium!" %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
