<section class="py-16 lg:p-16 home-section bg-wyrd-pink-500 text-wyrd-pink-900 flex items-center flex-row" data-nav-color="pink">
    <div class="flex flex-row items-center justify-center flex-1 gap-32 lg:m-6 mx-auto">
        {% with size="large" additional_class="rotate-[8deg]" %}
            {% include "includes/picture_card.html" %}
        {% endwith %}
        <div class="flex flex-col gap-16 lg:w-[640px]">
            <h2>{{ block.title }}</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 max-w-4xl mx-auto">
                {% if block.access %}
                    <div>
                        <h3 class="text-xl! font-semibold mb-2.5 uppercase">Accès</h3>
                        <div class="">{{ block.access|safe }}</div>
                    </div>
                {% endif %}
                {% if block.schedule %}
                    <div>
                        <h3 class="text-xl! font-semibold mb-2.5 uppercase">Horaires</h3>
                        <div class="">{{ block.schedule|safe }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
