{% load wagtailcore_tags wagtailimages_tags core_components %}

<section 
    data-nav-color="pink"
    class="home-section bg-wyrd-pink-500 text-wyrd-pink-900 flex items-center flex-row"
>
    <div class="flex flex-col md:flex-row items-center justify-center flex-1 gap-6 lg:gap-32 md:gap-16 lg:m-6 mx-auto p-14 sm:p-16 max-w-full">
        
        <div class="card bg-white rounded-2xl md:rounded-4xl overflow-hidden shadow-card-mobile md:shadow-card-desktop h-fit w-fit p-1 md:p-2 rotate-[8deg]">
            <div class="overflow-hidden relative bg-wyrd-purple-500 rounded-xl md:rounded-3xl w-map-mobile h-map-mobile md:w-map-desktop md:h-map-desktop max-w-full">
                {% if block.picture %}
                    {% image block.picture fill-800x800 as info_image %}
                    <img
                        src="{{ info_image.url }}"
                        alt="{{ block.title }}"
                        class="w-full h-full object-cover"
                    >
                {% endif %}
            </div>        
        </div>

        <div class="flex flex-col gap-6 md:gap-16 lg:w-[640px] max-md:mt-2">
            <h2 class="max-md:text-center">{{ block.title }}</h2>
            <div class="grid grid-cols-2 gap-6 md:gap-12 max-w-4xl mx-auto">
                {% if block.access %}
                    <div>
                        <h4 class="font-semibold uppercase">Accès</h4>
                        {{ block.access|safe }}
                    </div>
                {% endif %}
                {% if block.schedule %}
                    <div>
                        <h4 class="font-semibold uppercase">Horaires</h4>
                        {{ block.schedule|safe }}
                    </div>
                {% endif %}
            </div>

            {% if block.directions_link or block.faq_link %}
                <div class="flex flex-row max-md:justify-center">
                    {% if block.directions_link.page %}
                        {% pageurl block.directions_link.page as directions_link %}
                        {% render_button label="Commment venir ?" url=directions_link variant="secondary" color="pink" %}
                    {% elif block.directions_link.external_url %}
                            {% render_button label="Comment venir ?" url=block.directions_link.external_url variant="secondary" color="pink" %}
                    {% endif %}

                    {% if block.faq_link.page %}
                        {% pageurl block.faq_link.page as faq_link %}
                        {% render_button label="FAQ" url=faq_link variant="secondary" color="pink" %}
                    {% elif block.faq_link.external_url %}
                        {% render_button label="FAQ" url=block.faq_link.external_url variant="secondary" color="pink" %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
