{% load wagtailcore_tags core_components %}

<section 
    data-nav-color="purple"
    class="bg-wyrd-purple-500 text-white flex flex-col justify-center home-section relative">
    <div class="md:pt-32 pt-24 max-w-lg sm:max-w-xl md:max-w-7xl mx-auto px-4 lg:px-32 items-center justify-center text-center gap-6 md:gap-12 flex flex-col my-auto">
        
        <h4 class="uppercase">{{ block.tagline }}</h4>
        <h1 class="hero">{{ block.title }}</h1>
        <h4 class="max-w-3xs sm:max-w-lg">
            {{ block.subtitle|linebreaksbr }}
        </h4>

        <div class="flex items-center justify-center gap-px">
            {% render_button label="Prendre ma place" url=block.ticket_url variant="primary" additional_class="btn-rounded" %}
            <a
                href="{{ block.instagram_url }}"
                target="_blank"
                class="btn btn-primary btn-circle"
                rel="noreferrer noopener"
                aria-label="Instagram Wyrd"
            >
                <span>{% include "svg/instagram.svg" %}</span>
            </a>
        </div>
    </div>
    <div class="w-full bg-wyrd-green-900 text-wyrd-green-500">
        <div class="h-31 lg:h-50 flex items-center animate-marquee-mobile md:animate-marquee-desktop whitespace-nowrap mx-auto landing-page-ticker">
            {% for text in block.ticker_text %}
                <h2 class="px-4 md:px-8 mt-2">{{ text }}</h2>
                <div class="md:mb-2 md:min-h-12 md:min-w-12 min-w-6 min-h-6">
                    {% include "svg/d20.svg" %}
                </div>
            {% endfor %}
            
            {# Duplicate for desktop view #}
            {% for text in block.ticker_text %}
                <h2 class="px-8 mt-2 max-md:hidden">{{ text }}</h2>
                <div class="mb-2 min-h-12 min-w-12 max-md:hidden">
                    {% include "svg/d20.svg" %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
