{% load static wagtailcore_tags home_components %}

<section class="flex flex-col items-center justify-center py-16 md:py-24 home-section bg-wyrd-pink-500 text-wyrd-pink-900 text-center" data-nav-color="pink">
    <div class="relative lg:w-[740px] max-w-7xl mx-auto sm:mx-6 lg:mx-8 gap-3 flex flex-col">
        <h2 class="text-center font-groovy text-h2 leading-h2">{{ block.title }}</h2>
        {% if block.description %}
            <p class="text-center">{{ block.description }}</p>
        {% endif %}
        
        {% for card_item in block.cards %}
            {% render_presentation_card title=card_item.title color=forloop.counter0|color_by_index index=forloop.counter0 %}
        {% endfor %}
    </div>
</section>
