<section 
    data-nav-color="green"
    class="bg-wyrd-green-900 text-wyrd-green-500 py-12 overflow-hidden home-section flex flex-row items-center max-md:h-fit!"
>
    <div class="flex items-center animate-marquee whitespace-nowrap mx-auto">
        {% for text in block.texts %}
            <h1 class="mx-8 text-lg font-medium">{{ text }}</h1>
        {% endfor %}
        {% for text in block.texts %}
            <h1 class="mx-8 text-lg font-medium">{{ text }}</h1>
        {% endfor %}
    </div>
</section>

<style>
    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }
    .animate-marquee {
        animation: marquee 40s linear infinite;
    }
</style>
