{# Card of presentation section. Use by calling {% render_presentation_card ... %} from home_components. #}
<div 
    class="presentation-card shadow-card-mobile md:shadow-card-desktop w-card-s-mobile h-card-s-mobile md:w-card-s-desktop md:h-card-s-desktop flex flex-col items-center justify-end rounded-xl md:rounded-4xl p-2 md:p-4 absolute {{ class_name }}"
    {% if index is not None %} data-card-index="{{ index }}"{% endif %}
>
    <div class="card-content w-full text-center">
        {% if title %}
            <p class="presentation-card-title text-2xs md:text-xl font-bold normal-case max-md:leading-2xs">
                {{ title|lower|capfirst }}
            </p>
        {% endif %}
    </div>
</div>
