{% load static wagtailcore_tags wagtailuserbar %}
{% wagtail_site as current_site %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
        
        {% tailwind_css %}

        {% block extra_css %}
        {% endblock %}        
    </head>

    <body class="flex flex-col min-h-screen bg-gray-50 text-gray-900 {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header %}
            {% include "includes/header.html" %}
        {% endblock %}

        <main class="flex-1">
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock %}

        <script type="text/javascript" src="{% static 'js/test.js' %}"></script>

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
