{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-faq{% endblock %}

{% block content %}
<section data-nav-color="pink">
    <div class="flex flex-col items-center justify-center px-6 py-16 md:px-24 md:py-24 mt-header-mobile md:mt-header-desktop max-w-7xl mx-auto">
        <h1 class="text-center min-h-44 md:min-h-80 flex items-center">
            {{ page.title }}
        </h1>
        {% if page.subtitle %}
            <h4 class="text-center max-w-3xl">{{ page.subtitle }}</h4>
        {% endif %}

        <div class="pt-16 md:pt-24 w-full flex-col flex">
            {% for block in page.categories %}
                <article class="max-w-none grid grid-cols-1 md:grid-cols-2 border-t border-wyrd-pink-900 py-6 md:py-16 md:gap-6">
                    <h4>{{ block.value.title }}</h4>
                    <div class="space-y-2.5 max-md:pt-6">
                        {% for item in block.value.questions %}
                            {% include "includes/faq_item.html" with item=item faq_id="faq-"|add:block.id|add:"-"|add:forloop.counter %}
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% comment %}
    JavaScript to handle the expand/collapse behavior of FAQ items
    necessary for the sliding animation behavior, which the native 
    <details> element does not support well
{% endcomment %}

{% block extra_js %}
<script>
    (() => {
        const OPEN_CLASSES = ['opacity-100', 'translate-y-0'];
        const CLOSED_CLASSES = ['opacity-0', 'translate-y-2'];
        const faqItems = document.querySelectorAll('[data-faq-item]');

        faqItems.forEach((item) => {
            const trigger = item.querySelector('[data-faq-trigger]');
            const answer = item.querySelector('[data-faq-answer]');
            const answerInner = item.querySelector('[data-faq-answer-inner]');
            const icon = item.querySelector('[data-faq-icon]');

            if (!trigger || !answer || !answerInner || !icon) return;

            // on open/close, set appropriate aria attributes, 
            // rotate icon and trigger animation classes
            const setOpenState = (open) => {
                trigger.setAttribute('aria-expanded', open ? 'true' : 'false');
                answer.setAttribute('aria-hidden', open ? 'false' : 'true');
                answer.inert = !open;
                icon.style.transform = open ? 'rotate(45deg)' : 'rotate(0deg)';
                answerInner.classList.remove(...(open ? CLOSED_CLASSES : OPEN_CLASSES));
                answerInner.classList.add(...(open ? OPEN_CLASSES : CLOSED_CLASSES));
            };

            setOpenState(false); // init in closed state

            const openAnswer = () => {
                answer.hidden = false;
                answer.style.height = '0px';
                setOpenState(true);
                requestAnimationFrame(() => {
                    answer.style.height = `${answer.scrollHeight}px`;
                });
            };

            const closeAnswer = () => {
                answer.style.height = `${answer.scrollHeight}px`;
                setOpenState(false);
                requestAnimationFrame(() => {answer.style.height = '0px'});
            };

            // toggle open/close state on click
            const onClickQuestion = () => {
                const isOpen = trigger.getAttribute('aria-expanded') === 'true';
                if (isOpen) closeAnswer();
                else openAnswer();
            };

            // after closing animation, set height to auto to allow 
            // for dynamic content height, and set aria expanded attribute 
            // to closed for accessibility
            const onTransitionEnd = (event) => {
                if (event.propertyName !== 'height') return;
                if (trigger.getAttribute('aria-expanded') === 'true' && answer.style.height !== '0px') {
                    answer.style.height = 'auto';
                    return;
                }

                if (trigger.getAttribute('aria-expanded') === 'false' && answer.style.height === '0px') {
                    answer.hidden = true;
                }
            };

            trigger.addEventListener('click', onClickQuestion);
            answer.addEventListener('transitionend', onTransitionEnd);
        });
    })();
</script>
{% endblock %}
